.divs{
  text-align: center;
  border: 8px solid darkgreen;
  background-color: sandybrown;
  padding: 20px;
  width: 50%;
  margin: 25px auto;
}
h1 {
  text-align: center;
}
body{
  background-color: salmon;
}
button{
  border-radius: 8px;
  width: 50%;
  margin: 2px;
  background-color: #D3D3D3;
  transition-duration: 0.4s;
}
#c1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#c2:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#c3:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#c4:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#c5:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
button:hover {
  background-color: white;

}
.false1:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.false2:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.false3:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.false4:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.false5:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
