.divs{
  text-align: center;
  border: 8px solid darkgreen;
  background-color: sandybrown;
  padding: 20px;
  width: 400px;
  margin: 25px auto;
}
h1 {
  text-align: center;
}
body{
  background-color: salmon;
}
#nextq {

  text-align: center;
 border: none;
 float:right;
}
